@font-face {
  src: url(../fonts/Raleway-Regular.woff) format('woff'),
        url(../fonts/Raleway-Regular.woff2) format('woff2');
  font-weight: normal;
  font-family: Raleway;
};

@font-face {
  src: url(../fonts/Raleway-Bold.woff) format('woff'),
        url(../fonts/Raleway-Bold.woff2) format('woff2');
  font-weight: bold;
  font-family: Raleway;
};


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  padding: 90px 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}
