.header {
    padding: 0 50px;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 148px 1fr;
    justify-content: space-between;
    margin: 0 0 92px 0;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style-type: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid black;
  padding-bottom: 1px;
  text-decoration: none;
}

.header__link_active {
  text-decoration: none;
  border-bottom: none;
  padding-bottom: 0;
}

.header__logo {
  margin: 5px 0 0 0;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 114px;
}

.header__contacts {
  max-width: 240px;
  justify-self: end;
}

.header__contacts-info {
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  text-decoration: none;
  position: relative;
}

.header__contacts-info::after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: black;
  left: 0;
  bottom: 1px;
}

.header__contacts-phone::after {
  width: 132px;
}

.header__contacts-mail::after {
  width: 130px;
}

.header__contacts-address {
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 135%;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 757px;
  width: 100%;
  margin: 0 0 180px 0;
  padding: 165px 50px 50px;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

.overlay {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  background: #000;
}

.cover__title {
  z-index: 2;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  display: grid;
  gap: 20px;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 60px;

}

.center {
  display: block;
  text-align: center;
  line-height: 100%;
}

.aligned-text {
  display: block;
  line-height: 115%;
  letter-spacing: 30px;
}

.letter-spacing-extended {
  padding: 0 0 0 29px;
}

.no-letter-spacing {
  text-align: center;
}

.aligned-text_center {
  letter-spacing: 25px;
  margin: 0 0 0 6px;
}

.aligned-text_right {
  display: block;
  text-align: end;
  letter-spacing: 0;
  line-height: 100%;
}

.aligned-text_right__first {
  letter-spacing: 31px;
}

.aligned-text_right__second {
  letter-spacing: 3px;
}

.aligned-text_right__third {
  letter-spacing: 0;
}

.cover__description {
  z-index: 2;
  position: absolute;
  display: flex;
  align-items: center;
  right: 50px;
  bottom: 52px;
}

.cover__description-text {
  color: #fff;
  margin-right: 78px;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px; 
  text-transform: uppercase;
  width: 633px;
}

.mr-17 {
  margin-right: 17px;
}

.mr-14 {
  margin-right: 14px;
}

.mr-21 {
  margin-right: 21px;
}

.bet-button {
  border: 1px solid #FFF;
  background-color: transparent;
  color: #FFF;
  text-align: center;
  font-size: 22px;
  line-height: normal;
  text-transform: uppercase;
  padding: 12px 32px;
  box-sizing: border-box;
}

.lots {
  margin-bottom: 181px;
  padding: 0 50px;
  box-sizing: border-box;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 0 27px 40px;

}

.lots__card-list {
  display: flex;
  width: 100%;
  gap: 25px;
  height: 450px;
  margin-bottom: 30px;

}

.lots__card-list-item {
  position: relative;
  width: 430px;
  height: 100%;
}

.card-link {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  position: relative;
  z-index: 2;
  padding: 50px 40px;
  box-sizing: border-box;
  color: #FFF;
  height: 100%;
  width: 100%;
}

.card_type_film {
  background-image: url(../images//card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images//card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images//card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  bottom: 50px;
  left: 40px;
  right: 40px;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
  border-bottom: 1px solid;
}

.about {
  display: grid;
  grid-template-columns: 32.1% 66%;
  gap: 25px;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  margin-bottom: 180px;
}

.about__column:first-child {
  padding: 0 95px;
  box-sizing: border-box;
}

.about__column:nth-child(2) {
  padding: 100px 0 0 0;
  box-sizing: border-box;
}

.about__logo {
  margin: 0 auto;
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
    align-items: center;
    justify-content: center;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 100px 0;
}


.about__text {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 25px;
  line-height: normal;
}

.about__column .about__text:last-child {
  margin-bottom: 0;
}

