.header {
    padding: 0 50px;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 148px 1fr;
    justify-content: space-between;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style-type: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid black;
  padding-bottom: 1px;
  text-decoration: none;
}

.header__link_active {
  text-decoration: none;
  border-bottom: none;
  padding-bottom: 0;
}

.header__logo {
  margin: 5px 0 0 0;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 114px;
}

.header__contacts {
  max-width: 240px;
  justify-self: end;
}

.header__contacts-info {
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  text-decoration: none;
  position: relative;
}

.header__contacts-info::after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: black;
  left: 0;
  bottom: 1px;
}

.header__contacts-phone::after {
  width: 132px;
}

.header__contacts-mail::after {
  width: 130px;
}

.header__contacts-address {
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 135%;
}

